/*

Blaster Template

http://www.templatemo.com/tm-472-blaster

*/

#pp{
  background-color: red;
  color: white;
  
}
#tt{
  float:right;
  position:relative;
  top:12px;
  font-size:12px;
}
#jj{
  padding:1%;
  background-color: rgb(42, 42, 228);
  
}
.navbar-brand{
  color: white;
}
body
{
	background: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	position: relative;
}

html,body {
	width: 100%;
	overflow-x: hidden;
}

h1,h2,h3,h4 {
	font-weight: bold;
}

.heading {
	font-size: 60px;
}
.subheading {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 60px;
}
.bold {
	font-weight: bold;
}



 #contact {
	padding-top:px;
	padding-bottom:60px;
}

#about .fa {
	font-size: 28px;
	min-width: 34px;
}

/* start navigation */



/* home section */
#home {
  background: url('../images/home-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}
#home hr {
  border: 2px solid #404040;
  width: 100px;
}
#home h3 {
  letter-spacing: 2px;
}
#home .btn {
  background: transparent;
  border-radius: 0;
  border: 3px solid #404040;
  color: #404040;
  font-weight: bold;
  padding: 16px 42px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}


/* about section */
#about .col-md-4 .fa {
  background: #FFD321;
  border-radius: 50%;
  color: #ffffff;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 10px;
}
#about .col-md-6 {
  padding-top: 60px;
}
#about .col-md-6 h3 {
  padding-top: 40px;
  padding-bottom: 10px;
}
#about .col-md-6 p {
  padding-bottom: 30px;
}
#about span {
  display: block;
  padding-bottom: 6px;
}
#about .progress {
  border-radius: 0;
  box-shadow: none;
  height: 6px;
}
#about .progress .progress-bar-primary {
  background: #FFD321;
}

/* portfolio section */
#portfolio {
  padding-top: 100px;
  background: #f9f9f9;
  text-align: center;
  }
#portfolio .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
#portfolio .col-md-4 {
  padding: 0;
  margin: 0;
}
#portfolio img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
#portfolio img:hover {
  opacity: 0.6;
}
/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 40px 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}


/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}

/* team section */
#team {
  text-align: center;
}
#team h3 {
  color: #202020;
  line-height: 4px;
}
#team .team-des {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* contact section */
#contact .bb{
  background: #f9f9f9;
  text-align: center;
}

#contact .fa {
  font-size: 40px;
}
#contact form {
  padding-top: 80px;
}
#contact .form-control {
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact input {
  height: 50px;
}
#contact input[type="submit"] {
  
  margin-top: 18px;
  height: 54px;
}

.contact-info-box h3 { font-size: 16px; }


/* copyright section */
#copyright {
  background: #404040;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#copyright p {
  padding-top: 20px;
}
#copyright a {
	color: #fff;
}
#copyright a:hover {
	color: #FFD321;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}
#copyright .fa {
  background: #383838;
  color: #ffffff;
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease-in-out;
}
#copyright .fa:hover {
  background: #FFD321;
  color: #000;
}


@media ( max-width: 980px ) {
  .custom-navbar .navbar-brand {
    font-size: 24px;
  }
  #about img {
    padding-top: 40px;
  }
  #contact form {
    padding-top: 30px;
  }
}

